# Importing libraries

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pandas import plotting

# Reading Dataset

In [20]:
dataset = pd.read_csv('https://raw.githubusercontent.com/KeshavAman/Super-Market-Grocery-Prediction/main/Market.csv', header= None)
dataset.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
dataset.describe().T

   count unique              top freq
0   7501    115    mineral water  577
1   5747    117    mineral water  484
2   4389    115    mineral water  375
3   3345    114    mineral water  201
4   2529    110        green tea  153
5   1864    106     french fries  107
6   1369    102        green tea   96
7    981     98        green tea   67
8    654     88        green tea   57
9    395     80        green tea   31
10   256     66   low fat yogurt   22
11   154     50        green tea   15
12    87     43        green tea    8
13    47     28        green tea    4
14    25     19        magazines    3
15     8      8        chocolate    1
16     4      3  frozen smoothie    2
17     4      3      protein bar    2
18     3      3       mayonnaise    1
19     1      1        olive oil    1

In [22]:
dataset.shape

(7501, 20)

# Checking null value

In [23]:
dataset.isnull().any().any()

True

# Using Apyori Algorithm

In [24]:
transactions = []
for i in range(0, 7501):
    transactions.append([str(dataset.values[i,j]) for j in range(0, 20)])

# Training Apriori on the dataset
from apyori import apriori
rules = apriori(transactions, min_support = 0.003, min_confidence = 0.2, min_lift = 3, min_length = 2)

# Visualising the results
MB = list(rules)
Result = [list(MB[i][0]) for i in range(0,len(MB))]
print(Result)

[['chicken', 'light cream'], ['mushroom cream sauce', 'escalope'], ['pasta', 'escalope'], ['honey', 'fromage blanc'], ['herb & pepper', 'ground beef'], ['tomato sauce', 'ground beef'], ['olive oil', 'light cream'], ['olive oil', 'whole wheat pasta'], ['pasta', 'shrimp'], ['milk', 'spaghetti', 'avocado'], ['cake', 'milk', 'burgers'], ['turkey', 'chocolate', 'burgers'], ['turkey', 'milk', 'burgers'], ['cake', 'frozen vegetables', 'tomatoes'], ['cereals', 'spaghetti', 'ground beef'], ['milk', 'chicken', 'ground beef'], ['chicken', 'nan', 'light cream'], ['olive oil', 'milk', 'chicken'], ['olive oil', 'chicken', 'spaghetti'], ['frozen vegetables', 'chocolate', 'shrimp'], ['herb & pepper', 'chocolate', 'ground beef'], ['milk', 'chocolate', 'soup'], ['spaghetti', 'ground beef', 'cooking oil'], ['herb & pepper', 'eggs', 'ground beef'], ['eggs', 'spaghetti', 'red wine'], ['mushroom cream sauce', 'nan', 'escalope'], ['pasta', 'nan', 'escalope'], ['herb & pepper', 'french fries', 'ground beef'], ['honey', 'nan', 'fromage blanc'], ['frozen vegetables', 'green tea', 'tomatoes'], ['frozen vegetables', 'spaghetti', 'ground beef'], ['olive oil', 'milk', 'frozen vegetables'], ['milk', 'frozen vegetables', 'soup'], ['milk', 'frozen vegetables', 'tomatoes'], ['frozen vegetables', 'mineral water', 'shrimp'], ['olive oil', 'frozen vegetables', 'spaghetti'], ['frozen vegetables', 'spaghetti', 'shrimp'], ['frozen vegetables', 'shrimp', 'tomatoes'], ['frozen vegetables', 'spaghetti', 'tomatoes'], ['spaghetti', 'ground beef', 'grated cheese'], ['green tea', 'tomatoes', 'ground beef'], ['herb & pepper', 'milk', 'ground beef'], ['herb & pepper', 'mineral water', 'ground beef'], ['herb & pepper', 'nan', 'ground beef'], ['herb & pepper', 'spaghetti', 'ground beef'], ['olive oil', 'milk', 'ground beef'], ['milk', 'soup', 'ground beef'], ['tomato sauce', 'nan', 'ground beef'], ['pepper', 'spaghetti', 'ground beef'], ['spaghetti', 'shrimp', 'ground beef'], ['tomato sauce', 'spaghetti', 'ground beef'], ['spaghetti', 'mineral water', 'light cream'], ['olive oil', 'nan', 'light cream'], ['olive oil', 'milk', 'shrimp'], ['olive oil', 'milk', 'soup'], ['olive oil', 'milk', 'spaghetti'], ['milk', 'tomatoes', 'soup'], ['milk', 'whole wheat pasta', 'spaghetti'], ['olive oil', 'mineral water', 'soup'], ['olive oil', 'whole wheat pasta', 'mineral water'], ['olive oil', 'whole wheat pasta', 'nan'], ['pasta', 'shrimp', 'nan'], ['olive oil', 'spaghetti', 'pancakes'], ['olive oil', 'spaghetti', 'tomatoes'], ['whole wheat rice', 'spaghetti', 'tomatoes'], ['milk', 'spaghetti', 'avocado', 'nan'], ['cake', 'milk', 'burgers', 'nan'], ['turkey', 'chocolate', 'burgers', 'nan'], ['turkey', 'milk', 'burgers', 'nan'], ['cake', 'frozen vegetables', 'nan', 'tomatoes'], ['cereals', 'spaghetti', 'nan', 'ground beef'], ['milk', 'chicken', 'nan', 'ground beef'], ['olive oil', 'milk', 'chicken', 'nan'], ['olive oil', 'chicken', 'nan', 'spaghetti'], ['mineral water', 'eggs', 'chocolate', 'ground beef'], ['mineral water', 'frozen vegetables', 'chocolate', 'ground beef'], ['spaghetti', 'frozen vegetables', 'chocolate', 'ground beef'], ['milk', 'frozen vegetables', 'chocolate', 'mineral water'], ['milk', 'frozen vegetables', 'chocolate', 'spaghetti'], ['frozen vegetables', 'chocolate', 'shrimp', 'mineral water'], ['shrimp', 'frozen vegetables', 'chocolate', 'nan'], ['herb & pepper', 'chocolate', 'nan', 'ground beef'], ['milk', 'chocolate', 'nan', 'soup'], ['spaghetti', 'olive oil', 'chocolate', 'mineral water'], ['spaghetti', 'chocolate', 'shrimp', 'mineral water'], ['spaghetti', 'ground beef', 'nan', 'cooking oil'], ['milk', 'eggs', 'frozen vegetables', 'mineral water'], ['herb & pepper', 'eggs', 'nan', 'ground beef'], ['eggs', 'spaghetti', 'nan', 'red wine'], ['herb & pepper', 'french fries', 'nan', 'ground beef'], ['frozen smoothie', 'milk', 'mineral water', 'spaghetti'], ['frozen vegetables', 'green tea', 'nan', 'tomatoes'], ['milk', 'frozen vegetables', 'mineral water', 'ground beef'], ['milk', 'frozen vegetables', 'spaghetti', 'ground beef'], ['spaghetti', 'frozen vegetables', 'mineral water', 'ground beef'], ['frozen vegetables', 'spaghetti', 'nan', 'ground beef'], ['olive oil', 'milk', 'frozen vegetables', 'mineral water'], ['milk', 'frozen vegetables', 'mineral water', 'soup'], ['milk', 'frozen vegetables', 'mineral water', 'spaghetti'], ['olive oil', 'milk', 'frozen vegetables', 'nan'], ['milk', 'frozen vegetables', 'nan', 'soup'], ['milk', 'frozen vegetables', 'nan', 'tomatoes'], ['shrimp', 'frozen vegetables', 'mineral water', 'nan'], ['frozen vegetables', 'mineral water', 'shrimp', 'spaghetti'], ['frozen vegetables', 'mineral water', 'tomatoes', 'spaghetti'], ['olive oil', 'frozen vegetables', 'spaghetti', 'nan'], ['frozen vegetables', 'shrimp', 'nan', 'spaghetti'], ['frozen vegetables', 'shrimp', 'nan', 'tomatoes'], ['frozen vegetables', 'spaghetti', 'nan', 'tomatoes'], ['spaghetti', 'ground beef', 'nan', 'grated cheese'], ['green tea', 'tomatoes', 'nan', 'ground beef'], ['herb & pepper', 'milk', 'nan', 'ground beef'], ['herb & pepper', 'mineral water', 'nan', 'ground beef'], ['herb & pepper', 'spaghetti', 'nan', 'ground beef'], ['spaghetti', 'milk', 'mineral water', 'ground beef'], ['olive oil', 'milk', 'nan', 'ground beef'], ['milk', 'soup', 'nan', 'ground beef'], ['spaghetti', 'olive oil', 'mineral water', 'ground beef'], ['spaghetti', 'mineral water', 'pancakes', 'ground beef'], ['spaghetti', 'mineral water', 'tomatoes', 'ground beef'], ['pepper', 'spaghetti', 'nan', 'ground beef'], ['spaghetti', 'shrimp', 'nan', 'ground beef'], ['tomato sauce', 'spaghetti', 'nan', 'ground beef'], ['spaghetti', 'mineral water', 'nan', 'light cream'], ['olive oil', 'milk', 'mineral water', 'spaghetti'], ['milk', 'mineral water', 'tomatoes', 'spaghetti'], ['olive oil', 'milk', 'shrimp', 'nan'], ['olive oil', 'milk', 'nan', 'soup'], ['olive oil', 'milk', 'spaghetti', 'nan'], ['milk', 'tomatoes', 'nan', 'soup'], ['milk', 'whole wheat pasta', 'spaghetti', 'nan'], ['olive oil', 'mineral water', 'nan', 'soup'], ['olive oil', 'whole wheat pasta', 'mineral water', 'nan'], ['olive oil', 'spaghetti', 'pancakes', 'nan'], ['olive oil', 'spaghetti', 'nan', 'tomatoes'], ['whole wheat rice', 'spaghetti', 'nan', 'tomatoes'], ['eggs', 'mineral water', 'chocolate', 'nan', 'ground beef'], ['frozen vegetables', 'mineral water', 'chocolate', 'nan', 'ground beef'], ['frozen vegetables', 'chocolate', 'nan', 'spaghetti', 'ground beef'], ['frozen vegetables', 'milk', 'chocolate', 'mineral water', 'nan'], ['frozen vegetables', 'milk', 'chocolate', 'nan', 'spaghetti'], ['frozen vegetables', 'shrimp', 'chocolate', 'mineral water', 'nan'], ['olive oil', 'chocolate', 'mineral water', 'nan', 'spaghetti'], ['shrimp', 'chocolate', 'mineral water', 'nan', 'spaghetti'], ['frozen vegetables', 'milk', 'eggs', 'mineral water', 'nan'], ['frozen smoothie', 'milk', 'mineral water', 'nan', 'spaghetti'], ['frozen vegetables', 'milk', 'mineral water', 'nan', 'ground beef'], ['frozen vegetables', 'milk', 'nan', 'spaghetti', 'ground beef'], ['frozen vegetables', 'mineral water', 'nan', 'spaghetti', 'ground beef'], ['olive oil', 'frozen vegetables', 'milk', 'mineral water', 'nan'], ['frozen vegetables', 'milk', 'mineral water', 'nan', 'soup'], ['frozen vegetables', 'milk', 'mineral water', 'nan', 'spaghetti'], ['frozen vegetables', 'shrimp', 'mineral water', 'nan', 'spaghetti'], ['frozen vegetables', 'tomatoes', 'mineral water', 'nan', 'spaghetti'], ['milk', 'mineral water', 'nan', 'spaghetti', 'ground beef'], ['olive oil', 'mineral water', 'nan', 'spaghetti', 'ground beef'], ['mineral water', 'nan', 'spaghetti', 'pancakes', 'ground beef'], ['tomatoes', 'mineral water', 'nan', 'spaghetti', 'ground beef'], ['olive oil', 'milk', 'mineral water', 'nan', 'spaghetti'], ['tomatoes', 'milk', 'mineral water', 'nan', 'spaghetti']]

# Using Eclat Algorithm

In [25]:
transactions = []
for sublist in dataset.values.tolist():
    clean_sublist = [item for item in sublist if item is not np.nan]
    transactions.append(clean_sublist)

In [26]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
df_x = pd.DataFrame(te_ary, columns=te.columns_) # encode to onehot

In [27]:
# Train model using Apiori algorithm 
# ref = https://rasbt.github.io/mlxtend/api_subpackages/mlxtend.frequent_patterns/
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
df_sets = apriori(df_x, min_support=0.005, use_colnames=True)
df_rules = association_rules(df_sets,metric='support',min_threshold= 0.005,support_only=True) 
# if you use only "support", it called "ECLAT"

In [28]:
print(df_x)

       asparagus  almonds  antioxydant juice  asparagus  avocado  babies food  \
0          False     True               True      False     True        False
1          False    False              False      False    False        False
2          False    False              False      False    False        False
3          False    False              False      False     True        False
4          False    False              False      False    False        False
...          ...      ...                ...        ...      ...          ...
7496       False    False              False      False    False        False
7497       False    False              False      False    False        False
7498       False    False              False      False    False        False
7499       False    False              False      False    False        False
7500       False    False              False      False    False        False

      bacon  barbecue sauce  black tea  blueberries  ...  turkey  \
0     False           False      False        False  ...   False
1     False           False      False        False  ...   False
2     False           False      False        False  ...   False
3     False           False      False        False  ...    True
4     False           False      False        False  ...   False
...     ...             ...        ...          ...  ...     ...
7496  False           False      False        False  ...   False
7497  False           False      False        False  ...   False
7498  False           False      False        False  ...   False
7499  False           False      False        False  ...   False
7500  False           False      False        False  ...   False

      vegetables mix  water spray  white wine  whole weat flour  \
0               True        False       False              True
1              False        False       False             False
2              False        False       False             False
3              False        False       False             False
4              False        False       False             False
...              ...          ...         ...               ...
7496           False        False       False             False
7497           False        False       False             False
7498           False        False       False             False
7499           False        False       False             False
7500           False        False       False             False

      whole wheat pasta  whole wheat rice   yams  yogurt cake  zucchini
0                 False             False   True        False     False
1                 False             False  False        False     False
2                 False             False  False        False     False
3                 False             False  False        False     False
4                 False              True  False        False     False
...                 ...               ...    ...          ...       ...
7496              False             False  False        False     False
7497              False             False  False        False     False
7498              False             False  False        False     False
7499              False             False  False        False     False
7500              False             False  False         True     False

[7501 rows x 120 columns]

In [29]:
print(df_sets)

      support                                      itemsets
0    0.020397                                     (almonds)
1    0.008932                           (antioxydant juice)
2    0.033329                                     (avocado)
3    0.008666                                       (bacon)
4    0.010799                              (barbecue sauce)
..        ...                                           ...
720  0.007466              (spaghetti, mineral water, soup)
721  0.009332          (spaghetti, mineral water, tomatoes)
722  0.006399            (turkey, mineral water, spaghetti)
723  0.006266  (whole wheat rice, mineral water, spaghetti)
724  0.005066              (olive oil, spaghetti, pancakes)

[725 rows x 2 columns]

In [30]:
print(df_rules)

                antecedents             consequents  antecedent support  \
0                 (burgers)               (almonds)                 NaN
1                 (almonds)               (burgers)                 NaN
2               (chocolate)               (almonds)                 NaN
3                 (almonds)             (chocolate)                 NaN
4                    (eggs)               (almonds)                 NaN
...                     ...                     ...                 ...
1935  (olive oil, pancakes)             (spaghetti)                 NaN
1936  (spaghetti, pancakes)             (olive oil)                 NaN
1937            (olive oil)   (spaghetti, pancakes)                 NaN
1938            (spaghetti)   (olive oil, pancakes)                 NaN
1939             (pancakes)  (olive oil, spaghetti)                 NaN

      consequent support   support  confidence  lift  leverage  conviction
0                    NaN  0.005199         NaN   NaN       NaN         NaN
1                    NaN  0.005199         NaN   NaN       NaN         NaN
2                    NaN  0.005999         NaN   NaN       NaN         NaN
3                    NaN  0.005999         NaN   NaN       NaN         NaN
4                    NaN  0.006532         NaN   NaN       NaN         NaN
...                  ...       ...         ...   ...       ...         ...
1935                 NaN  0.005066         NaN   NaN       NaN         NaN
1936                 NaN  0.005066         NaN   NaN       NaN         NaN
1937                 NaN  0.005066         NaN   NaN       NaN         NaN
1938                 NaN  0.005066         NaN   NaN       NaN         NaN
1939                 NaN  0.005066         NaN   NaN       NaN         NaN

[1940 rows x 9 columns]

# By FP-Growth Algorithm

In [ ]:
import pyfpgrowth

transactions = []
for sublist in dataset.values.tolist():
    clean_sublist = [item for item in sublist if item is not np.nan]
    transactions.append(clean_sublist) 

patterns = pyfpgrowth.find_frequent_patterns(transactions, 2)

rules = pyfpgrowth.generate_association_rules(patterns, 0.7)

In [14]:
print(patterns)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [15]:
print(rules)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)